body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.converter {
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    width: 48%;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
